@layer component {
  .tiptap {
    &:focus-visible {
      outline: 0;
    }

    & .has-focus {
      outline: 1px solid hsl(0, 0%, 85%);
    }

    & p.is-editor-empty:first-child::before {
      color: var(--neutral-600, hsl(0, 0%, 50%));
      content: attr(data-placeholder);
      pointer-events: none;
    }
  }
}
