@layer app {
  .links-layout {
    & nav.page {
      background-color: var(--color-links-a50);
    }
    & a.create {
      background-color: var(--color-links-a50);
      color: white;
    }

    & div.page {
      border-top: 0.25rem solid var(--color-links-a50);
    }
  }
}
