@layer app {
  .code-layout {
    & nav.page {
      background-color: var(--color-code-a50);
    }

    & a.create {
      background-color: var(--color-code-a50);
      color: white;
    }

    & div.page {
      border-top: 0.25rem solid var(--color-code-a50);
    }

    & form {
      & .label {
        color: var(--color-code);
      }

      & input[type='text'],
      & input[type='number'],
      & input[type='date'],
      & input[type='datetime-local'],
      & select,
      & .text-editor .tiptap,
      & .code-editor {
        border-color: var(--color-code);
      }
    }

    & main {
      & .code-editor {
        margin-block: 2rem;
      }
    }
  }
}
